<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Hi, I am Shagun. I am a grad student at Montreal Institute for Learning Algorithms, supervised by Dr. Yoshua Bengio and Dr. Jian Tang. My research focuses on lifelong reinforcement learning - training AI systems that can interact with and learn from the physical world (reinforcement learning) and consistently improve as they do so without forgetting the previous knowledge (lifelong learning). Even a small advance in these areas would be very useful for training intelligent autonomous agents that would need to operate and make decisions over extended periods of time.</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Hi, I am Shagun. I am a grad student at Montreal Institute for Learning Algorithms, supervised by Dr. Yoshua Bengio and Dr. Jian Tang. My research focuses on lifelong reinforcement learning - training AI systems that can interact with and learn from the physical world (reinforcement learning) and consistently improve as they do so without forgetting the previous knowledge (lifelong learning). Even a small advance in these areas would be very useful for training intelligent autonomous agents that would need to operate and make decisions over extended periods of time.</p> -->
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>
